body{
  margin:10px;  
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
a {  
  text-decoration: none;
}
h1 {
  font-size: 250%; 
  text-align: left;
  padding: 10px;
  padding-left: 50px;
  margin: 0;
  margin-top: 20px;
  width: 1140px;
}
#bear {
  border-right: 1px solid gray;
  width: 120px;
  margin: 0px;
  padding:20px;
  margin-left: 20px;
  }
.born{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 200px 1fr;
    grid-template-columns: 200px 1fr;  
    padding-right: 20px;
    border: 1px solid gray;  
  }
.text{
  word-break: normal;
}
h4 {
  margin: 0px;
  border-bottom: 1px gray solid;
  padding: 10px;
}
.lion{
  width: 970px
}
#goHome{
  text-align: right;
}
